---
title: Index page
footerFull: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include 'partials/_header.html' %}
	{% include 'partials/_hero.html' %}
	{% include 'partials/_floors.html' %}
	{% include 'partials/_benefits.html' %}
	{% include 'partials/_pricing.html' %}
	{% include 'partials/_location.html' %}
	{% include 'partials/_testimonials.html' %}
	{% include 'partials/_footer.html' %}
	{% include 'partials/_form.html' %}

	{% include 'partials/_modals.html' %}

{% endblock %}
