<!-- begin benefits -->
<div class="benefits" data-scrollto-container="Benefits">
	<div class="inner benefits__inner">
		<div class="sm-label side-label benefits__label">{{benefits.label | safe}}</div>
		<h2 class="title-md benefits__title">{{benefits.title | safe}}</h2>
		{% for item in benefits.items %}
			<div class="benefits__item benefits__item_{{item.size}} benefits__item_{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
				<ul class="benefits__list text-lg">
					{% for item in item.list %}
						<li>{{item}}</li>
					{% endfor %}
				</ul>
				<div class="benefits__img">
					<div class="benefits__img-in">
						<div class="benefits__picture" style="background-image: url(/{{item.img}});"></div>
						<div class="benefits__figure">
							<div class="benefits__figure-container js-parallax">
								<div class="benefits__figure-in"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- end benefits -->