<!-- begin footer -->
<footer class="footer {% if not footerFull %}footer_sm{% endif %}">
	<div class="footer__inner">
		{% if footerFull %}
			<div class="footer__top">
				<h2 class="title-md footer__title">{{footer.title | safe}}</h2>
				<button class="btn footer__btn">
					{{mixins.icon('plus', 'btn__plus')}}
					<span class="btn__title">{{footer.btn | safe}}</span>
				</button>
				<div class="footer__label">{{footer.label | safe}}</div>
			</div>
		{% endif %}
		<div class="footer__main">
			<div class="footer__contacts">
				<div>
					<a href="mailto:{{footer.email | safe}}" class="footer__mail">{{footer.email | safe}}</a>
				</div>
				<div>
					<a href="tel:{{footer.link | safe}}" class="footer__phone">{{footer.phone.title | safe}}</a>
				</div>
				<div class="footer__social">
					<a href="#" class="footer__social-item">
						{{mixins.icon('fb', 'footer__social-icon footer__social-fb')}}
					</a>
					<a href="#" class="footer__social-item">
						{{mixins.icon('insta', 'footer__social-icon footer__social-insta')}}
					</a>
				</div>
			</div>
			<div class="footer__right">
				<ul class="footer__nav">
					{% for item in footer.nav %}
						<li class="footer__item">
							<a href="#" class="footer__link" data-scrollto-control="{{item.section}}">{{item.title}}</a>
						</li>
					{% endfor %}
				</ul>
				<div class="footer__copyright">
					<a href="#" class="logo footer__logo">
						{{mixins.icon('logo', 'logo__icon')}}
						<div class="logo__content">
							<div class="logo__line">PLATFORM</div>
							<div class="logo__line">HOUSE</div>
						</div>
					</a>
					<div class="footer__copy">{{footer.copyright | safe}}</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->