<!-- begin page -->
<div class="page">
	<div class="page__inner">
		<a href="#" class="page__back js-form-close">
			{{mixins.icon('arrow-left', 'page__back-icon')}}
		</a>
		<div class="page__container">
			<form action="/" class="form page__form js-validate">
				<div class="form__header">
					<div class="title-lg form__title">Kontaktný formulár</div>
					<div class="form__description">
						<p>Ozvi sa nám, pridaj sa k nám alebo si <strong>vyskúšaj týždeň zadarmo</strong>.</p>
					</div>
				</div>
				<div class="form__body">
					<div class="form__field-group">
						{% for item in [
							{ placeholder: 'Meno', inputAttrs: 'data-validation="required"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: 'Priezvisko', inputAttrs: 'data-validation="required"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: 'Email', inputAttrs: 'data-validation="email"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: 'Telefón', inputAttrs: 'data-validation="required"', classList: 'js-validate-field', inputClassList: 'js-validate-control' }
						] %}
							<div class="form__field form__field_50">
								{{mixins.field(item)}}
							</div>
						{% endfor %}
					</div>
					<div class="form__field-group">
						<div class="form__field form__field_50">
							{{mixins.field({
								select: {
									options: [
										{ value: 'Scaleups', icon: 'img/scaleups.svg', color: 'red' },
										{ value: 'Startups', icon: 'img/startups.svg', color: 'blue' },
										{ value: 'Freelancers', icon: 'img/freelancers.svg', color: 'yellow' }
									]
								}
							})}}
						</div>
						<div class="form__field">
							{{mixins.field({
								placeholder: 'Správa',
								textarea: true,
								inputAttrs: 'data-validation="required"',
								classList: 'js-validate-field',
								inputClassList: 'js-validate-control'
							})}}
						</div>
					</div>
					<div class="form__figure">
						<div class="form__figure-container">
							<div class="form__figure-in"></div>
						</div>
					</div>
				</div>
				<div class="form__footer">
					<button class="btn btn_xl btn_wide form__submit" type="submit">
						<span class="form__submit-visible">
							<span class="btn__title">ODOSLAť</span>
						</span>
						<span class="form__submit-hidden">
							{{mixins.icon('check', 'btn__check')}}
							<span class="btn__title">ODOSLAť</span>
						</span>
					</button>
					<div class="form__hint">Lorem ipsum dolor sit.</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end page -->