<!-- begin page -->
<div class="page" data-modal="form" data-modal-prevent>
	<div class="page__inner">
		<a href="#" class="page__back" data-modal-close="form">
			{{mixins.icon('arrow-left', 'page__back-icon')}}
		</a>
		<div class="page__container">
			<form action="/" class="form page__form js-validate">
				<div class="form__header">
					<div class="title-lg form__title">{{form.title | safe}}</div>
				</div>
				<div class="form__description">
					<p>{{form.description | safe}}</p>
				</div>
				<div class="form__body">
					<div class="form__field-group">
						{% for item in [
							{ placeholder: form.name, inputAttrs: 'data-validation="required"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: form.surname, inputAttrs: 'data-validation="required"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: form.email, inputAttrs: 'data-validation="email"', classList: 'js-validate-field', inputClassList: 'js-validate-control' },
							{ placeholder: form.phone, inputAttrs: 'data-validation="required"', type: "number", classList: 'js-validate-field', inputClassList: 'js-validate-control js-input-phone' }
						] %}
							<div class="form__field form__field_50">
								{{mixins.field(item)}}
							</div>
						{% endfor %}
					</div>
					<div class="form__field-group">
						<div class="form__field form__field_50">
							{{mixins.field({
								select: {
									options: [
										{ value: 'Scaleups', icon: '/img/scaleups.svg', color: 'red' },
										{ value: 'Startups', icon: '/img/startups.svg', color: 'blue' },
										{ value: 'Freelancers', icon: '/img/freelancers.svg', color: 'yellow' }
									]
								}
							})}}
						</div>
						<div class="form__field">
							{{mixins.field({
								placeholder: form.message,
								textarea: true,
								inputAttrs: 'data-validation="required"',
								classList: 'js-validate-field',
								inputClassList: 'js-validate-control'
							})}}
						</div>
					</div>
					<div class="form__figure">
						<div class="form__figure-container">
							<div class="form__figure-in"></div>
						</div>
					</div>
				</div>
				<div class="form__footer">
					<button class="btn btn_xl btn_wide form__submit" type="submit">
						<span class="form__submit-visible">
							<span class="btn__title">{{form.btn.default}}</span>
						</span>
						<span class="form__submit-hidden">
							{{mixins.icon('check', 'btn__check')}}
							<span class="btn__title">{{form.btn.success}}</span>
						</span>
					</button>
					<div class="form__hint">{{form.hint}}</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end page -->