<!-- begin hero -->
<div class="hero">
	<div class="hero__bg">
		<div class="hero__bg-left" style="background-image: url({{rootPath}}img/hero.jpg);"></div>
		<div class="hero__bg-right" style="background-image: url({{rootPath}}img/hero.jpg);"></div>
	</div>
	<div class="inner hero__inner">
		<div class="hero__lang">
			<a href="{{rootPath}}" class="hero__lang-item {% if lang == "sk" %}is-active{% endif %}">Sk</a>
			<a href="{{rootPath}}en" class="hero__lang-item {% if lang == "en" %}is-active{% endif %}">En</a>
		</div>
		<div class="hero__figure">
			<div class="hero__figure-shadow"></div>
			<div class="hero__figure-fill"></div>
		</div>
		<div class="hero__content">
			<div class="hero__content-in">
				<h1 class="title-lg hero__title">{{hero.title | safe}}</h1>
				<div class="text-xl hero__description">
					<p>{{hero.description | safe}}</p>
				</div>
			</div>
			<div class="hero__footer">
				<button class="btn hero__btn" data-modal-open="form">
					{{mixins.icon('plus', 'btn__plus', rootPath)}}
					<span class="btn__title">{{hero.btn | safe}}</span>
				</button>
				<div class="hero__label">{{hero.label | safe}}</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->
