<!-- begin location -->
<div class="location" data-scrollto-container="Location">
	<div class="inner">
		<div class="map js-map"></div>
		<div class="location__content">
			<div class="location__inner">
				<div class="sm-label side-label location__label">{{location.label | safe}}</div>
				<h2 class="title-md location__title">{{location.title | safe}}</h2>
				<a target="_blank" href="https://www.google.com/maps/place/Ra%C4%8Dianska+3269%2F71A,+831+02+Bratislava/@48.1714184,17.122879,17z/data=!3m1!4b1!4m5!3m4!1s0x476c8ebad3ef7b2d:0x1b1900ac27eef698!8m2!3d48.1714148!4d17.12507" class="location__link">
					<img src="{{rootPath}}img/google-logo.svg" alt="google logo" class="location__link-icon">
					<span class="location__link-title">{{location.link | safe}}</span>
					{{mixins.icon('arrow-right', 'location__link-arrow', rootPath)}}
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end location -->
