<!-- begin location -->
<div class="location" data-scrollto-container="Location">
	<div class="inner">
		<div class="map js-map"></div>
		<div class="location__content">
			<div class="location__inner">
				<div class="sm-label side-label location__label">{{location.label | safe}}</div>
				<h2 class="title-md location__title">{{location.title | safe}}</h2>
				<a href="#" class="location__link">
					<img src="/img/google-logo.svg" alt="google logo" class="location__link-icon">
					<span class="location__link-title">{{location.link | safe}}</span>
					{{mixins.icon('arrow-right', 'location__link-arrow')}}
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end location -->