<!-- begin testimonials -->
<div class="testimonials js-testimonials">
	<div class="inner testimonials__inner">
		{% set items = [
			{ logo: 'platform.svg' },
			{ logo: 'wework.png' },
			{ logo: 'google.png' }
		] %}
		<div class="testimonials__container">
			<div class="testimonials__content">
				<div class="sm-label side-label testimonials__label">Testimonials</div>
				<div class="testimonials__slider js-testimonials-slider">
					{% for item in items %}
						<div class="testimonials__slide js-testimonials-slide" data-index="{{loop.index}}">
							<div class="testimonials__text">V Plat4m House najviac oceňujem ľahko prístupné vybavenie a komunitu zaujímavých ľudí online aj priamo na mieste, s ktorými si môžeme pomáhať.!</div>
							<div class="profile">
								<div class="profile__img" style="background-image: url(https://placecage.com/{{loop.index}}000/{{loop.index}}000);"></div>
								<div class="profile__content">
									<div class="profile__title">Lukas Horak</div>
									<div class="profile__subtitle">CEO at PLATFORM</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="testimonials__logos">
					{% for item in items %}
						<a href="#" class="testimonials__logo js-testimonials-thumb" data-index="{{loop.index}}">
							<img src="img/{{item.logo}}" alt="/" class="testimonials__logo-in">
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="testimonials__figure">
			<div class="testimonials__figure-in">
				{% for item in items %}
					<div class="testimonials__picture js-testimonials-picture" data-index="{{loop.index}}" style="background-image: url(https://placecage.com/{{loop.index}}000/{{loop.index}}000);"></div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end testimonials -->