.icon-arrow-left {
  width: 1.14em;
  height: 1em;
  fill: #1A1A1A;
}
.icon-arrow-right {
  width: 0.91em;
  height: 1em;
  fill: #1A1A1A;
}
.icon-check {
  width: 1.28em;
  height: 1em;
  fill: #FFF;
}
.icon-fb {
  width: 0.65em;
  height: 1em;
  fill: #FFF;
}
.icon-figure-from {
  width: 0.75em;
  height: 1em;
  fill: none;
}
.icon-fugure-to {
  width: 0.98em;
  height: 1em;
  fill: none;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 0.92em;
  height: 1em;
  fill: #F03454;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-user {
  width: 0.86em;
  height: 1em;
  fill: #1A1A1A;
}
